<div data-ng-controller="ContentSearchResultsController">
    <h3 ng-cloak>You searched for "{{keyword}}"</h3>
    <h4 ng-cloak>Your search matched {{itemsTotal}} hits</h4>
    <pagination data-ng-show="loaded"
                current-page="currentPage"
                items-per-page="12"
                total-items="{{itemsTotal}}"
                preceeding-pages="3"
                following-pages="3"
                change-page-function="changePage(page)"></pagination>
    <ul class="list-group" data-ng-repeat="textPage in textPages">
        <li class="list-group-item">
            <h3 ng-cloak class="list-group-item-heading">{{textPage.Title}}</h3>
            <div ng-cloak>
                {{textPage.Text}}
            </div>
            <div>
                <a ng-cloak target="_self" ng-href="{{textPage.Url}}">{{textPage.Title}}</a>
            </div>
        </li>
    </ul>
    <pagination data-ng-show="loaded"
                current-page="currentPage"
                items-per-page="12"
                total-items="{{itemsTotal}}"
                preceeding-pages="3"
                following-pages="3"
                change-page-function="changePage(page)"></pagination>
</div>