<div data-ng-controller="ContentSearchResultsController">
    <h3>You searched for "{{keyword}}"</h3>
    <pagination data-ng-show="loaded"
                current-page="currentPage"
                items-per-page="12"
                total-items="{{itemsTotal}}"
                preceeding-pages="3"
                following-pages="3"
                change-page-function="changePage(page)"></pagination>
    <ul data-ng-repeat="textPage in textPages">
        <li>
            <h3>{{textPage.Title}}</h3>
            <div>
                {{textPage.Text}}
            </div>
            <div>
                <a target="_self" ng-href="{{textPage.Url}}">{{textPage.Title}}</a>
            </div>
        </li>
    </ul>
    <pagination data-ng-show="loaded"
                current-page="currentPage"
                items-per-page="12"
                total-items="{{itemsTotal}}"
                preceeding-pages="3"
                following-pages="3"
                change-page-function="changePage(page)"></pagination>
</div>