## Sitecore

/App_Browsers/*.browser
/App_Data/
/App_Config/Include/*.config.disabled
/App_Config/Include/*.config.example
/App_Config/Include/Sitecore.*.config
/App_Config/Include/.Sitecore.*.config
/App_Config/Include/Channel/Sitecore.*.config
/App_Config/Include/ContentTesting/Sitecore.*.config*
/App_Config/Include/ExperienceProfile/Sitecore.*.config
/App_Config/Include/ExperienceAnalytics/Sitecore.*.config
/App_Config/Include/FXM/Sitecore.*.config*
/App_Config/Include/ListManagement/Sitecore.*.config*
/App_Config/Include/Social/Sitecore.*.config*
/App_Config/Include/XdbCloud/Sitecore.*.config*
/App_Config/Prefetch/
/App_Config/Security/
/App_Config/diagnostics/
/App_Config/logs/
/App_Config/viewstate/
/App_Config/indexes/
/App_Config/indexes/*.gen
/App_Config/indexes/content_index_master/
/App_Config/indexes/content_index_web/
/App_Config/*.config
/App_Config/license.xml
/Areas/Social/
/Artifacts/
/bin/
/layouts/system/
/layouts/QueryableRulesRunner.ascx
/layouts/Sample*.as[cp]x
/layouts/xmlcontrol.aspx
/sitecore*/
/temp/
/upload/
/Views/Shared/ExperienceExplorerView.cshtml
/xsl/system/
/xsl/WebEdit/
/xsl/sample rendering.xslt
/[Dd]efault*
/Global.asax
/Web.config.Oracle
/webedit.css